.wrapperPagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paginationNumber {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.paginationSpacing {
  color: red;
}