.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  > h1 {
    font-size: 2.2rem;
    color: var(--title);
    margin-bottom: 2rem;
  }
}

.registerButton {
  width: 100%;

  &:disabled {
    cursor: not-allowed;
  }
}