.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--border);

  > h2 {
    color: var(--title);
  }

  > span {
    color: var(--text);
  }

  @media (max-width: 600px) {
    & {
      flex-direction: column;
    }
  }
}