* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --background: #1b1b1f;
  --title: #47474D;
  --text: #7A7A80;
  --border: #DEDEE3;
  --bg-card: #F4F5F6;
  --text-card: #EBEBF0;
  --color-main: #DC1637;
}
